<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestApExample">
    <test name="AllTests">
      <classes>
          <class name="tests.AllTests">
              <methods>
                  <include name="runAllTest"/>
                  <include name="failedTest"/>
              </methods>
          </class>
      </classes>
    </test>
</suite>